Section.SongListPage {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-bottom: 12vh;

}

li.songListItem {
    display: flex;
    padding:1vh 1vw;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 80vw;
    align-items: center;
    background: #254f60;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b4e79, #392c80, #101c4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a3d79, #2c1780, #18284b);
    margin-bottom: 2vh;
    max-height: 10vh;
    border-radius: 5px;
    box-shadow: 1px 3px 6px rgba(9, 191, 171, 0.49);

}

ul.songlist {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    height: 12vh;
    text-align: left;
    align-self: center;
    margin: 1vh 1vw;
    padding: .1vh 0;
    border-radius: 5px;
    width: 90vw;
    box-shadow:  2px 0px 12px inset rgba(129, 255, 212, 0.32);
    align-items: flex-start;
}

ul.songlist ul {
    width: 80%;
    padding-left: 1vw;
}

span {
    margin: 2vh 2vw;
}
.song {

    font-size: .9em;
    text-align: left;
    font-weight: bold;
    flex-grow: 2;
    color: #a9f4ff;
}
.artist {
    flex-grow: 2;
    font-size: 0.8em;
    font-weight: lighter;
    text-align: center;
    color: #a9f4ff;
}


button#delete-song {
    border: none;
    padding: 3px;
    background-color: hsla(348, 91%, 56%, 0.7);
    margin: 0 0 0 auto;
    flex-shrink: 1;

}


.venue {
    margin: 1vh 1vw 1vh 0vw;
    font-size: 0.7em;
    text-align: right;

    color: #a9f4ff;
}



@media only screen and (min-width: 450px) {
    ul.songlist {
        width: 80vw;
    }
}

@media only screen and (min-width: 850px) {
    ul.songlist {
        width: 60vw;
    }
}