Section.SongListPage {
    display: flex;
    flex-flow: column wrap;
    align-content: center;

}


ul.songlist {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    height: 14vh;
    text-align: left;
    align-self: center;
    margin: 1vh 3vw;
    padding: .5vh 0;
    border-radius: 5px;
    min-width: 50vw;
    box-shadow:  2px 0px 12px inset rgba(129, 255, 212, 0.32);
    align-items: flex-start;
}

ul.songlist ul {
    width: 55%;
}

span {
    margin: 2vh 2vw;
}
.song {

    font-size: .9em;
    text-align: left;
    font-weight: bold;
    flex-grow: 1;
    color: #a9f4ff;
}
.artist {
    flex-grow: 1;
    font-size: 0.8em;
    font-weight: light;
    text-align: center;
    color: #a9f4ff;
}

.album {
    flex-grow: 1;

    font-weight: lighter;
    color: #a9f4ff;
}
button#delete-song {
    border: none;
    position: relative;
    top: -9vh;
    box-shadow: none;
    left: 20vw;
}
.venue {
    margin: 1vh 1vw;
    font-size: 0.8em;
    text-align: right;
    flex-grow: 1;
    color: #a9f4ff;
}

@media only screen and (min-width: 500px) {
    ul.songlist {
        width: 70vw;
    }
}

@media only screen and (min-width: 1200px) {
    ul.songlist {
        width: 50vw;
    }
}