form {
    padding: 3vh 3vw;
    max-height: 60vh;

    border-radius: 5px;
    box-shadow: 2px 5px 10px rgba(127, 255, 212, 0.22);


}
div {
    display: flex;
    align-content: center;
    flex-direction: column;
}

span {
    display: flex;

    width: 80%;
}

::placeholder {
    color: #a9f4ff;
    font-size: 1.1em;
}

input[type=date]:invalid:-webkit-datetime-edit {
    color: #a9f4ff;
}

input {
    width: 30vw;
    border: none;
    background: inherit;
    border-bottom: 2px solid aquamarine;
    border-right: 2px solid aquamarine;

 border-radius: 9px;
    padding: .5vh 1vw;
    flex: 2;
    margin-left: 1vw;
    box-shadow: -6px -5px 6px inset rgba(169, 244, 255, 0.19);


}

#show_date {
    color: #a9f4ff;
    font-size: 1em;
}

label {
    flex: 1;
    color: #a9f4ff;
}

h3 {
    color : aquamarine;
    padding: 1vh 1vw;

}


button {
    padding: 1vh 5vw;
    color: #a9f4ff;

    font-size: 1em;
    align-self: center;
    border-radius: 8px;
    border: 2px outset #a9f4ff;
    background: inherit;
    box-shadow: 0 0 15px inset rgba(169, 244, 255, 0.34);

}

@media screen and (min-width: 450px) {
    form {
        width: 60vw;
    }
}

@media screen and (min-width: 820px) {
    form {
        width: 40vw;
    }
}