header {
  display: flex;
  align-items: center;
}
* {
  font-family: "Gill Sans";
}
header h1 {

  color: #a9f4ff;
}
nav ul {
  position: fixed;
  bottom: 5vh;
  left: 0;
  width: 80vw;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}


ul.NavLinks a  {
  text-decoration: none;
  color: aquamarine;
  position: absolute;
  top: 0;
  padding: 1vh 1vw;

}



.userProfile {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  background-color: #ccc;
  align-items: flex-start;

}
.userProfile img {
  border: 5px outset cornflowerblue;
  min-width: 20vw;
  min-height:20vh;
  border-radius: 50%;
  position: relative;
  bottom: -20vh;
  background-color: aquamarine;
  margin: 3vh 3vw;
  box-shadow: cadetblue 0px 4px 8px;

}

.userProfile h3 {
  align-self: flex-end
}

Section.LoginPage {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

Section.RegistrationPage {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
#login_header, #reg_header {
  color: aquamarine;
 }

form {
  justify-content: space-around;
  box-shadow: 2px 0px 15px inset rgba(127, 255, 212, 0.2);
  max-height: 60vh;
  text-align : center;
  align-self: center;
  max-width: 90vw;
  min-width: 80vw;
}


.user_name {
  display: flex;
  flex-direction: row;
  width: 80%;
}
#user_email {
  display: flex;
  flex-direction: row;
  width:80%
}
.password {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#reglink {
  padding: 0;
  text-align: center;
}
#reglink-span {
  color: rgba(255, 228, 196, 0.31);
}

a#reglink  {
  color: aqua;
}
