* {
  max-width: 100vw;
  font-family: "Gill Sans";
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  align-self: center;
}

li > p {
  color: #a9f4ff;
  font-size: 1.1em;
}

header h1 {
  color: #a9f4ff;
}
nav ul {
  position: fixed;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #a9f4ff;
  height: 10vh;
  width: 100vw;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

nav {
  width: 100vw;
}

ul {
  list-style-type: none;
}

ul.NavLinks {
  display: flex;
  justify-content: space-around;
}
ul.NavLinks a {
  text-decoration: none;
  color: aquamarine;
}
input {
  color: #a9f4ff;
}

.alert {
  color: #ff0100;
  text-shadow: 2px 2px 20px #190101;
}
.userProfile {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  background-color: #ccc;
  align-items: flex-start;
}
.delete-button {
  position: relative;
  bottom: 3vh;
  left: -1vh;
  border: none;
  padding: 0;
  box-shadow: none;
  color: rgba(105, 177, 185, 0.77);
  cursor: pointer;
}

.userProfile h3 {
  align-self: flex-end;
}

section.LoginPage {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

section input {
  margin-top: 2vh;
}

section button {
  margin-top: 2vh;
}
section.RegistrationPage {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
#login_header,
#reg_header {
  color: aquamarine;
}

.error {
  color: #ff0100;
}

.user_name {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.user_email {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.password {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#reglink {
  padding: 0;
  text-align: center;
  margin: auto 3px;
}
#reglink-span {
  color: rgba(129, 206, 228, 0.62);
  text-align: center;
  display: flex;
  justify-content: center;
}

a#reglink {
  color: aqua;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  align-items: center;
  padding: 2vh 3vw;
  max-height: 60vh;
  width: 90vw;
  border-radius: 50px;
  border-left: 2px solid aquamarine;
  border-right: 2px solid aquamarine;
  box-shadow: 0px 6px 15px aquamarine;
  max-height: 60vh;
  max-width: 90vw;
  min-width: 65vw;
  justify-content: space-around;
}
div {
  display: flex;
  align-content: center;
  flex-direction: column;
}

span {
  display: flex;
  width: 80%;
}
span#button-span {
  flex-grow: 1;
  max-width: fit-content;
}

.delete {
  display: none;
}

::placeholder {
  color: #a9f4ff;
  font-size: 1.1em;
}

input {
  width: 70vw;
  border: none;
  background: inherit;
  border-bottom: 2px solid aquamarine;
  border-right: 2px solid aquamarine;
  border-radius: 5px;
  padding: 0.7vh 1vw;
  font-size: 1.2em;
  flex-grow: 1;
  margin: 0.5vh 2vw;
  box-shadow: 4px 5px 6px rgba(40, 255, 165, 0.19);
}

#show_date {
  color: #a9f4ff;
  font-size: 1.3em;
}

label {
  flex: 1;
  color: #a9f4ff;
}

h3 {
  color: aquamarine;
  padding: 1vh 1vw;
}

button {
  padding: 1vh 5vw;
  color: #a9f4ff;
  font-size: 1em;
  align-self: center;
  border-radius: 8px;
  border: 2px outset #a9f4ff;
  background: inherit;
  box-shadow: 0 0 15px inset rgba(169, 244, 255, 0.34);
  margin-bottom: 5vh;
}

@media only screen and (min-width: 820px) {
  form {
    width: 50vw;
  }
  input {
    width: 35vw;
  }
}
