header {
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  align-self: center;
}
* {
  font-family: "Gill Sans";
}

li > p {
  color: #a9f4ff;
  font-size: 1.1em;

}

header h1 {

  color: #a9f4ff;
}
nav ul {
  position: fixed;
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  border-top: 4px solid #a9f4ff;
  height: 10vh;
  width: 100%;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav {
  width: 100vw;

}

ul {
  list-style-type: none;
}

ul.NavLinks {
  display: flex;
  justify-content: space-around;
}
ul.NavLinks a  {
  text-decoration: none;
  color: aquamarine;


  padding: 1vh 1vw;

}
input {
  color : #a9f4ff;
}


.userProfile {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  background-color: #ccc;
  align-items: flex-start;

}


.userProfile h3 {
  align-self: flex-end
}

Section.LoginPage {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

Section input {
  margin-top: 2vh;
}

Section button {
  margin-top: 2vh;
}
Section.RegistrationPage {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}
#login_header, #reg_header {
  color: aquamarine;
 }




.user_name {
  display: flex;
  flex-direction: row;
  width: 80%;
}
.user_email {
  display: flex;
  flex-direction: row;
  width:80%
}
.password {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#reglink {
  padding: 0;
  text-align: center;
  margin: auto 3px;
}
#reglink-span {
  color: rgba(255, 228, 196, 0.31);
  text-align: center;
  display: flex;
  justify-content: center;
}

a#reglink  {
  color: aqua;
}

form {
  display: flex;
  flex-flow: column nowrap;
  align-self: center;
  align-items: center;
  padding: 2vh 3vw;
  max-height: 60vh;
  width: 90vw;
  border-radius: 50px;
  border-bottom: 2px solid aquamarine;
  border-left: 10px solid aquamarine;
  border-right: 10px solid aquamarine;
  box-shadow: 2px 0px 15px inset rgba(127, 255, 212, 0.4);
  max-height: 60vh;
  max-width: 90vw;
  min-width:65vw;
  justify-content: space-around;
}
div {
  display: flex;
  align-content: center;
  flex-direction: column;
}

span {
  display: flex;

  width: 80%;
}

::placeholder {
  color: #a9f4ff;
  font-size: 1.1em;
}


input {
  width: 70vw;
  border: none;
  background: inherit;
  border-bottom: 2px solid aquamarine;
  border-right: 2px solid aquamarine;
  border-radius: 5px;
  padding: .7vh 1vw;
  flex-grow: 1;
  margin: .5vh 2vw;
  box-shadow: 4px 5px 6px rgba(40, 255, 165, 0.19);


}


#show_date {
  color: #a9f4ff;
  font-size: 1em;
}

label {
  flex: 1;
  color: #a9f4ff;
}

h3 {
  color : aquamarine;
  padding: 1vh 1vw;

}


button {
  padding: 1vh 5vw;
  color: #a9f4ff;
  font-size: 1em;
  align-self: center;
  border-radius: 8px;
  border: 2px outset #a9f4ff;
  background: inherit;
  box-shadow: 0 0 15px inset rgba(169, 244, 255, 0.34);

}



@media only screen and (min-width: 650px) {
  form {
    width: 60vw;
  }
  input {
    width: 40vw;
  }

}

@media only screen and (min-width: 820px) {
  form {
    width: 50vw;
  }
  input { width: 35vw}
}